body {
    margin: 0;
}

/* ========= LINK ======== */

a {
    /* color: inherit !important; */
    text-decoration: none !important;
    cursor: pointer !important;
}

#phone-frame::-webkit-scrollbar {
    display: none !important;

}


/* Custom Swiper JS styles for the next button */
.swiper-wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
}

.swiper-button-next,
.swiper-button-prev {
    --swiper-theme-color: #FE6D6D !important;
    --swiper-navigation-size: 24px !important;
}


.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    opacity: 0 !important;
}


/* Override Style MUI */
/* .css-1usbwxn-MuiPaper-root-MuiAppBar-root {
    background-image: none !important;
} */

/* Override Style React-Quill */
.quill .ql-toolbar {
    background: #fff;
    /* border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.ql-snow h1 {
    font-size: 2.5em !important;
}

.ql-snow h2 {
    font-size: 2em !important;
}

.ql-snow h3 {
    font-size: 1.67em !important;
}

.ql-snow h4 {
    font-size: 1.5em !important;
}

.ql-snow h5 {
    font-size: 1.33em !important;
}

.ql-snow h6 {
    font-size: 1.17em !important;
}

.ql-snow p {
    font-size: 16px;
}