body {
    margin: 0;
}

/* ========= LINK ======== */

a {
    color: inherit !important;
    text-decoration: none !important;
    cursor: pointer !important;
}

#phone-frame::-webkit-scrollbar {
    display: none !important;
}


/* ========= OVERRIDE SWIPER JS STYLE ======== */

.swiper-wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Custom Swiper JS styles for the next-prev button */
.swiper-button-next,
.swiper-button-prev {
    --swiper-theme-color: #FE6D6D !important;
    --swiper-navigation-size: 24px !important;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    opacity: 0 !important;
}