body {
    margin: 0;
}

/* ========= LINK ======== */

.disable-link-style {
    color: #000000 !important;
    text-decoration: none !important;
    cursor: pointer !important;
  }

#about::-webkit-scrollbar {
    display: none !important;

}


/* Custom Swiper JS styles for the next button */
.swiper-wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
}

.swiper-button-next,
.swiper-button-prev {
    --swiper-theme-color: #FE6D6D !important;
    --swiper-navigation-size: 24px !important;
}


.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    opacity: 0 !important;
}